.wrapper-chat {
  width: 50%;
  height: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 30px;
  transition: background 0.5s;
}

.WrapperBack {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  transition: opacity 0.5s;
  opacity: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.ShowWrapperBack {
  transition: opacity 0.5s;
  opacity: 1;
}

.wrapper-chatflow {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  scroll-behavior: smooth;
  justify-content: flex-end;
  z-index: 1;
}

.wrapper-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.msg-input {
  margin-right: 5px;
  flex: 1 1;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  opacity: 0.8;
  border: none;
  padding: 10px 15px;
  color: #000;
  font-size: 1.1em;

  &::placeholder {
    color: #222;
  }

  &:active,
  &:focus {
    outline: none;
    border: none;
  }
}

.message-income {
  background-color: gray;
  color: white;
  align-self: flex-start;
  border-radius: 10px 10px 10px 10px;
  padding: 5px 10px;
  margin: 5px 0;
  font-weight: bold;
  animation: Remove 2s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  display: flex;
  text-align: left;
}

.Name {
  color: #222;
  margin-right: 10px;
}

.message-own {
  @extend .message-income;
  background-color: #98cb37;
  color: #222;
}

.Info {
  font-size: 0.8em;
  color: #fff;
  margin-top: 10px;
}

@keyframes Remove {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
